<meta charset="utf-8">

<title>{{ page.title }}</title>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
<meta property="og:image" content="{{ site.url }}/images/logo.png" />
<meta property="og:url" content="{{ site.url }}" />
<meta property="og:site_name" content="{{ site.name }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ site.title }}" />
<meta property="og:description" content="{{ site.description }}" />

<link rel="shortcut icon" type="image/png" href="/images/icon.png"/>
<link href="/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/css/elfiny.css" media="screen" rel="stylesheet" type="text/css" />

<script src="/js/jquery-3.2.1.slim.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
