<header>
	<table style="width:100%">
		<tr>
			<td><a href="{{ site.url }}"><img src="/images/logo.svg" class="logo align-middle" width="80" height="80" alt=""></a></td>
			<td style="width:100%">
				<a href="{{ site.url }}" class="logo-link font-weight-bold">{{ site.title }}</a><br>
				<span>{{ site.description }}</span>
			</td>
			<td>
				<a class="btn btn-outline-success btn-lg align-middle donate" href="/donate">Donate</a>
			</td>
		</tr>
	</table>
	<div style="text-align:right;width:100%;"><a class="btn btn-outline-success btn-lg align-middle mobile-donate" href="/donate">Donate</a></div>
	<hr class="my-4">
</header>
